# Logs
logs
*.log

node_modules

# Build folder
dist

# IDE metadata
.idea
.vscode
*.iml

# Mac files
.DS_Store

# Test generated
coverage
test-reports

# Optional eslint cache
.eslintcache

# vscode file history
.history

config/config.js
reports
.lighthouseci

size-plugin.json
coverage-temp/